# Ignore bundler config and gems.
/.bundle
/vendor/bundle

# Ignore all environment files.
/.env*

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases).
/storage/*
!/storage/.keep

/public/assets

# Ignore master key for decrypting credentials and more.
/config/master.key

# Test artefacts.
/coverage
/.crap4r_simplecov_setup.rb
